---
---
// importing google fonts via an API
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$header-fonts: "Roboto", "Open Sans", serif;
$regular-fonts: "Open Sans", "Roboto", Arial;
$font-size: 14px;

html {
  margin: auto;
  padding: 0;
  font-family: $regular-fonts;
  border-top: 0;
  font-size: $font-size;
}

header h1 {
  font-size: $font-size * 4;
}

header h1 a:hover {
  color: #c1c1c1;
}

h1, h2, h3, h4, h5 {
  font-family: $header-fonts;
}

.card-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-header h1{
  text-align: center;
}

#introduction {
  text-align: center;
}

.othello-image {
  max-width: 70%;
  max-height: auto;
}